---
import Organization from '../utils/org';
import Repository from '../utils/repository'
import GithubApi from '../utils/ghapi'
import BaseLayout from '../layouts/BaseLayout.astro'
import RepoTile from '../components/RepoTile.astro';

const repos = await GithubApi.getRepos();
const members = await GithubApi.getMembers();

const repositories:Repository[] = repos.map((repo:any) => new Repository(repo))
const org:Organization = new Organization("yelp", repositories);
---
<BaseLayout>
	<div class="top-shelf top-shelf-grey">
        <div class="content-container">
          <h1>Yelp Open Source</h1>
          <ul class='bullet-list-round'>
            <li>Power your app with the same code Yelp uses every day</li>
            <li>We love open source and want to give back with projects like mrjob</li>
            <li>Get started today with <span class='project-count'>{ org.forkedCount }</span> projects from <span class='dev-count'>{members.length }</span> Yelp developers</li>
          </ul>
        </div>
  </div>

  <div class="y-container y-container--standard-page">
      <div class="projects y-container_content clearfix">
          <h2>Popular</h2>
          <div class="featured">
			{ org.featuredRepos.map((repo, idx) => (
				<RepoTile repo={repo} idx={idx}/>
			))}	  
		      </div>

          <h2>Open sourced projects</h2>
          <div class="not-featured"></div>
          { org.regularRepos.map((repo, idx) => (
          <RepoTile repo={repo} idx={idx}/>
          ))}	  
      </div>
  </div>
</BaseLayout>